body {
    margin: 0; /* Define a margem do corpo para remover qualquer imagem */ 
    min-height: 100vh; /* Define altura mínima do corpo como 100% da altura do viewport */
    display: grid; /* Define o tipo de exibição como grid para alinhar os elementos no centro da página */
    place-items: center; /* Centraliza os itens horizontal e verticalmente na página */
    background: black; /* Define o fundo da página como preto */
  }
  
  .gallery {
    --size: 100px; /* Define uma variável de tamanho para os itens da galeria */
    display: grid; /* Define o tipo de exibição como grid para organizar as imagens */
    grid-template-columns: repeat(6, var(--size)); /* Define o número de colunas e largura de cada coluna */
    grid-auto-rows: var(--size); /* Define a altura automática das linhas com base no tamanho especificado */
    margin-bottom: var(--size); /* Define a margem inferior igual ao tamanho dos itens */
    place-items: start center; /* Alinha os itens no início horizontal e centraliza-os verticalmente */
    gap: 5px; /* Define espaçamento entre os itens */
  
    &:has(:hover) img:not(:hover), /* Aplica um filtro de escurecimento nas imagens quando o mouse está fora da galeria */
    &:has(:focus) img:not(:focus) {
      filter: brightness(0.5) contrast(0.5); /* Reduz o brilho e o contraste das imagens */
    }
  
    & img {
      object-fit: cover; /* Ajuda o dimensionamento da imagem para cobrir o espaço do container */
      width: calc(var(--size) * 2); /* Define a largura com o dobro do tamanho especificado */
      height: calc(var(--size) * 2); /* Define a altura da imagem com o dobro do tamanho especificado */
      clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z"); /* Define um caminho de recorte para a imagem */
      transition: clip-path 0.25s, filter 0.75s; /* Adiciona transições suaves para a mudança de caminho de recorte e filtro */
      grid-column: auto / span 2; /* Define a posição e a largura da imagem para a grade */
      border-radius: 5px; /* Adiciona uma borda arredondada às imagens */
  
      &:nth-child(5n - 1) { /* Aplica estilos específicos à imagem a cada quinta na galeria */
        grid-column: 2 / span 2; /* Define a posição e a largura da imagem na grade */
      }
  
      &:hover, /* Aplica estilo quando o mouse está sobre a imagem */
      &:focus { /* Aplica estilos quando a imagem recebe foco */
        clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z"); /* Altera o caminho do recorte da imagem */
        z-index: 1; /* Define a ordem de empilhamento da imagem */
        transition: clip-path 0.25s, filter 0.25s; /* Adiciona transições suaves para a mudança de caminho de recorte e filtro */
      }
  
      &:focus {
        outline: 1px dashed black; /* Adiciona uma borda tracejada preta ao redor da imagem quando ela recebe foco */
        outline-offset: -5px; /* Define a distância entre a borda tracejada e a imagem */
      }
    }
  }
